<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="swift ios development apple watch iphone ipad swiftui macos uikit dev wwdc tutorial guide redux tea state container" />

  {% seo %}

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <style>
    /* custom scrollbar */
    .highlight pre::-webkit-scrollbar {
      width: 20px;
    }

    .highlight pre::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .highlight pre::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    .highlight pre::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }
  </style>
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
</head>
