<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <nav>
          <h1 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h1>
          <div>
            <a href="/categories" title="Categories">Categories</a>
            <a href="/archive" title="Archive">Archive</a>
            <a href="/feed.xml" title="Feed">Feed</a>
          </div>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
          {% avatar code4you2021 size=100 %}
          <small>Hi there! I am code4you,I like to program, and do some App.</small>
          <small>I'm a developer</small>
          <small>Feel free to follow me on <a href="https://github.com/code4you2021">Github</a>.</small>
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

    {% if site.analytics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1WQVZK1CR7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.analytics_id }}');
    </script>
    {% endif %}
  </body>
</html>
